@charset "UTF-8";

body {background: linear-gradient(90deg, #5c55d4 0%, #565680 37%, #5c55d4 100%);}

h1 { background-color: #46ceb0;
    text-align: center;
    width: 50%;
    margin: auto;
    box-sizing: content-box;
    border-radius: 10px;
    color: rgb(3, 80, 148);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    
}

p {background: #b4eccd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    }

h2 { background: #1f2e86;
    border-radius: 10px;
   
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    text-align: center;
    width: 40%;
    margin: auto;
}

img { 
    display: block;
    margin: auto;
    border-radius: 10px;
    
 }

a { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    background-color: #b4eccd;
    border-radius: 10px;
       
}

 li {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

